div{
  width: 200px;
  height: 200px;
  margin:;
  background-color: chartreuse;
}
.prova{
  background-color: tomato;
  position:absolute;
  right:40px;
  left:400px;
  margin: 0;
}

body{marging:0;
    pading:0;}

.prova2{
  background-color:cyan;
  position:absolute;
  margin: 0;
  top:60px;
  left:420;
}
